:root {
  --primary: hsl(139, 59%, 73%);
  --primary-dark: hsl(140, 55%, 70%);
  --secondary: hsl(150 50% 15%);
  --quarto: hsl(140 20% 45%);
  --terciaria: hsl(150, 68%, 36%);
  --background: hsl(140 60% 97%);
  --foreground: hsl(174, 38%, 16%);
  --muted: hsl(148, 57%, 51%);
  --muted-foreground: hsl(173, 20%, 26%);
  --danger: hsl(180, 30%, 18%);
  --card: hsl(126, 44%, 75%);
  --border: hsl(50, 25%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--muted);
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 1100px;
  min-height: 70vh;

  display: flex;
  gap: 20px;

  box-shadow: 5px 5px 10px var(--muted-foreground);
  border-radius: 20px;
  overflow: hidden;

  background: white;
}

/* ---------------------- */
/*       LADO ESQUERDO    */
/* ---------------------- */
.form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image img {
  width: 90%;
  max-width: 400px;
  height: auto;
  padding: 1rem;
  border-radius: 30px;
}

/* ---------------------- */
/*       LADO DIREITO     */
/* ---------------------- */
.form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  padding: 3rem;
  text-align: center;
}

.form-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--muted-foreground);
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--muted);
  margin: 0.5rem auto;
  border-radius: 10px;
}

.form-header p {
  margin-top: 20px;
  color: var(--foreground);
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* ---------------------- */
/*       BOTÕES           */
/* ---------------------- */

.btn {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn button {
  border: none;
  border-radius: 30px;
  background-color: var(--terciaria);
  padding: 0.8rem 2rem;
  cursor: pointer;
  color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.btn button:hover {
  background-color: var(--muted);
  transition: 0.4s;
}

/* =============================== */
/*        RESPONSIVIDADE MOBILE   */
/* =============================== */

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    height: auto;
    padding-bottom: 20px;
    text-align: center;
  }

  .form-image img {
    max-width: 250px;
  }

  .form {
    padding: 1.5rem;
  }

  .form-header p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {

  .form-header h1 {
    font-size: 26px;
  }

  .form-header p {
    font-size: 13px;
  }

  .btn {
    flex-direction: column;
    gap: 15px;
  }

  .btn button {
    width: 100%;
    max-width: 280px;
  }
}
