:root {
  --primary: hsl(139, 59%, 73%);
  --primary-dark: hsl(140, 55%, 70%);
  --secondary: hsl(150 50% 15%);
  --quarto: hsl(140 20% 45%);
  --terciaria: hsl(150, 68%, 36%);
  --background: hsl(140 60% 97%);
  --foreground: hsl(174, 38%, 16%);
  --muted: hsl(148, 57%, 51%);
  --muted-foreground: hsl(173, 20%, 26%);
  --danger: hsl(180, 30%, 18%);
  --card: hsl(126, 44%, 75%);
  --border: hsl(50, 25%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--muted);
}

.container {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 5px 5px 10px var(--muted-foreground);
  border-radius: 20px;
}

.form-image img{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 30px;
}

.form {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  border-radius: 20px;
  padding: 3rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

.form-header h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--muted-foreground);
}

.form-header h1::after{
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--muted);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  border-radius: 30px;
  background-color: var(--terciaria);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.login-button button:hover{
  background-color: var(--muted);
  transition: 0.5s;
}

.login-button button a{
  text-decoration: none;
  color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.1rem;
}

.input-box input{
  margin: 5px 0;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
  border: none;
  background-color: #eeeeee75;
}

.input-group label{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--muted-foreground);
}

.continue-button button {
  border: none;
  border-radius: 30px;
  background-color: var(--terciaria);
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--background);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.continue-button button:hover{
  background-color: var(--muted);
  transition: 0.5s;
}
