:root {
  --primary: hsl(139, 59%, 73%);
  --primary-dark: hsl(140, 55%, 70%);
  --secondary: hsl(150 50% 15%);
  --quarto: hsl(140 20% 45%);
  --terciaria: hsl(150, 68%, 36%);
  --background: hsl(140 60% 97%);
  --foreground: hsl(174, 38%, 16%);
  --muted: hsl(148, 57%, 51%);
  --muted-foreground: hsl(173, 20%, 26%);
  --danger: hsl(180, 30%, 18%);
  --card: hsl(126, 44%, 75%);
  --border: hsl(50, 25%, 100%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--muted);
  padding: 20px;
}

/* ======================= */
/* CONTAINER GERAL         */
/* ======================= */
.container {
  width: 100%;
  max-width: 1100px;
  min-height: 70vh;

  display: flex;
  gap: 20px;
  overflow: hidden;

  background: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--muted-foreground);
}

/* ======================= */
/* IMAGEM DA ESQUERDA      */
/* ======================= */
.form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-image img {
  width: 90%;
  max-width: 350px;
  height: auto;
  padding: 1rem;
  border-radius: 30px;
}

/* ======================= */
/* FORMULÁRIO              */
/* ======================= */
.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  background-color: var(--background);
}

/* ======================= */
/* HEADER DO FORM          */
/* ======================= */
.form-header {
  text-align: center;
  margin-bottom: 2rem;
}

.form-header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--muted-foreground);
}

.form-header h1::after {
  content: '';
  display: block;
  width: 5rem;
  height: 0.3rem;

  background-color: var(--muted);
  margin: 0.5rem auto;

  border-radius: 10px;
}

/* ======================= */
/* CAMPOS DO FORM          */
/* ======================= */

.input-group {
  width: 100%;
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-box {
  flex: 1 1 45%;
  display: flex;
  flex-direction: column;
}

.input-box label {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: var(--muted-foreground);
  margin-bottom: 5px;
}

.input-box input {
  padding: 10px;
  border: none;

  border-radius: 12px;
  box-shadow: 1px 1px 6px #0000001c;

  font-size: 15px;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

/* ======================= */
/* BOTÃO CONTINUAR         */
/* ======================= */

.continue-button {
  margin-top: 25px;
  text-align: center;
}

.continue-button button {
  border: none;
  border-radius: 30px;
  background-color: var(--terciaria);

  padding: 0.7rem 2rem;
  cursor: pointer;
  color: var(--background);

  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.continue-button button:hover {
  background-color: var(--muted);
  transition: 0.4s;
}

/* ==================================== */
/* RESPONSIVIDADE - TABLET E CELULAR   */
/* ==================================== */

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .form {
    padding: 2rem;
  }

  .form-image img {
    max-width: 250px;
  }

  .input-box {
    flex: 1 1 100%;
  }
}

@media (max-width: 600px) {
  .form-header h1 {
    font-size: 26px;
  }

  .input-box input {
    font-size: 14px;
    padding: 9px;
  }

  .continue-button button {
    width: 100%;
    max-width: 300px;
  }
}
