:root {
  --primary: hsl(139, 59%, 73%);
  --primary-dark: hsl(140, 55%, 70%);
  --secondary: hsl(150 50% 15%);
  --quarto: hsl(140 20% 45%);
  --terciaria: hsl( 150 70% 40%);
  --background: hsl(140 60% 97%);
  --foreground: hsl(174, 38%, 16%);
  --muted: hsl(148, 57%, 51%);
  --muted-foreground: hsl(0, 0%, 0%);
  --danger: hsl(180, 30%, 18%);
  --card: hsl(126, 44%, 75%);
  --border: hsl(50, 25%, 100%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo img{
    margin-top: -15px;
    margin-left: -20px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.logo h1{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--terciaria);
    margin-left: 75px;
    margin-top: -75px;
}

header{
    padding: 25px 4%;
    background-color: var(--border);
    box-shadow: 0 0 40px 10px #ffffff1d
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    display: inline-block;
    color: var(--muted-foreground);
    text-decoration: none;
}

header a:hover{
    color: var(--muted-foreground);
    transform: scale(1.2);
    transition: .2s;

}


header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


.menu a{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: var(--muted-foreground);
}

.topo-do-site{
    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
}

.topo-do-site h1{
    margin-top: 40px;
    margin-left: -15px;
    color: var(--danger);
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700 ;
    border-radius: 10px;
}

texto-topo{
    margin-left: 10px;
}

.topo-do-site h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    margin-top: 25px;
    margin-left: -30px;
    color: var(--foreground);
    font-size: 30px;
    line-height: 45px;
}

.topo-do-site h2 span{
    color: var(--terciaria);
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.topo-do-site p{
    margin-top: 20px;
    margin-left: -30px;
    color: var(--foreground);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
}

.topo-do-site .img-topo img{
    margin-top: 45px;
    margin-right: -20px;
    width: 400px;
    height: 400px;
    border-radius: 20px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}


.interface1 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guia{
    padding: 40px 4%;
    width: 100%;
}

.exercicio h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: var(--terciaria);
    margin-top: 20px;
    text-align: center
}

.apresentacao p{
    margin-top: 100px;
    margin-left: -30px;
    color: var(--muted-foreground);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.IA {
    max-width: 600px;
    margin: 0 auto;
    margin-left: 730px;
    margin-top: -380px;
    background-color: var(--terciaria);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--terciaria);
    border-radius: 15px;
    height: 300px;
}

.IA .guia-exercicio h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: var(--border);
}

.IA .mensagem{
    width: 100%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 1rem;
    background-color: var(--background);
    border: 1px solid var(--terciaria);
    border-radius: 6px;
    color: var(--muted-foreground);
    outline: none;
    height: 50px;
}

.IA .mensagem:focus {
    border-color: var(--background);
    box-shadow: 0px 0px 8px var(--terciaria);
}

.IA .botao {
    background-color: var(--background);
    font-family: 'Montserrat', sans-serif;
    font-weight: 1000;
    color: var(--muted-foreground);
    padding: 8px;
    border: 1px solid var(--terciaria);
    border-radius: 6px;
    outline: none;
    cursor: pointer;  
    margin-top: 60px;  
}

.IA .botao:focus {
    border-color: var(--background);
    box-shadow: 0px 0px 8px var(--terciaria);
}

footer{
    background-color: var(--terciaria);
    margin-top: 200px;
    padding: 0px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d
}

footer .flex{
    justify-content: space-between;
}

@media (max-width: 768px) {
  .boxes {
    flex-direction: column;
  }
}


.linha-rodape button{

    width: 50px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin: 0 5px;
    margin-top: 20px;
    margin-right: -30px;
    transition: .2s;
}

.linha-rodape h1{
    margin-top: 20px;
    margin-left: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 800;
    color: var(--border);
}

.linha-rodape p{
    margin-top: 10px;
    margin-left: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--border);
}

.linha-rodape2 .mensagem{
    margin-top: 50px;
    margin-left: -30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--border);
}
